<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logeate</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-tablet.css" />
    <link rel="stylesheet" href="/css/styles-desktop.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <header class="bg-yellow padding-10">
        <section class="top-navbar">
            <h1 class="w-50">
                <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
            </h1>
            <div class="search-bar w-50">
                <input type="text" placeholder="Buscar productos, marcas">
                <button class="style-search">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="compra-cuotas">
                <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito
            </div>
        </section>
        <nav class="navbar">
            <ul class="left-nav">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="right-nav">
                <li><a href="">Crea tu Cuenta</a class="address-card">
                    <i class="fas fa-address-card"></i>
                </li>
                <li><a href="">Ingresa</a class="sign-in-alt">
                    <i class="fas fa-sign-in-alt"></i>
                </li>
                <li><a href="">Mis compras</a class="shopping-basket">
                    <i class="fas fa-shopping-basket"></i>
                </li>
            </ul>
        </nav>
        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section>
        <main>
            <form action="/" method="POST" class="create-login">
                <div class="login-form">
                    <label for="name"></label>
                    <input type="text" class="login" placeholder="Nombre y Apellido">
                </div>
                <div class="login-form">
                    <label for="password"></label>
                    <input type="password" class="login" placeholder="Contraseña">
                </div>
                <button type="submit" class="boton-login">Enviar</button>
        </main>
    </section>
    <footer>
        <section>
            <div>
                <div class="credit-card">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h2 class="title-footer">Paga con tarjeta o con Efectivo</h2>
                <article class="texto">Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</article>
            </div>
            <div>
                <div class="em-gift">
                    <i class="fas fa-gift"></i>
                </div>
                <h2 class="title-footer">Envio gratis desde $2500</h2>
                <article class="texto">Solo por estar registrado@ en Mercado Liebre tenes envios gratis en miles de
                    productos. Es un beneficio de Mercado Puntos</article>
            </div>
            <div>
                <div class="user-shield">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h2 class="title-footer">Seguridad de principio a fin</h2>
                <article class="texto">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada quie puedas hacer porque
                    estas siempre protegid@.</article>
            </div>
            <div class="copyright">
                Copyright © 1999-2020 MercadoLiebre S.R.L
            </div>
        </section>
    </footer>

</body>

</html>